@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100%;
    background-color: darkgray;
}

@font-face {
    font-family: 'PassionOne-Black';
    src: url('fontes/PassionOne-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;   
}

@font-face {
    font-family: 'Sriracha-Regular.ttf';
    src: url('fontes/Sriracha-Regular.ttf')format('truetype');
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 'PassionOne-Black', sans-serif;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(27, 25, 25);
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.578);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    
}